{
    "parser": "vue-eslint-parser",
    "plugins": ["@vue", "babel"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "env": {
        "browser": true
    }
}
