{
    "parser": "vue-eslint-parser",
    "plugins": ["@vue", "babel"],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "env": {
        "browser": true
    }
}
